@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|Yantramanav');

$font-family-sans-serif: 'Yantramanav', sans-serif;
$font-family-serif: 'Yantramanav', sans-serif;
$font-family-monospace:  'Oxygen Mono', monospace;
