$white:  #fff;
$black:  #000;
$red:    #b71c1c;
$orange: #bf360c;
$yellow: #fbc02d;
$green:  #1b5e20;
$blue:   #002171;
$teal:   #29ABE2;
$pink:   #880e4f;
$purple: #4a148c;

$gray-dark:     #292b2c;
$gray:          #464a4c;
$gray-light:    #636c72;
$gray-lighter:  #eceeef;
$gray-lightest: #f7f7f9;

$brand-primary: $teal;
$brand-success: $purple;
$brand-info:    $teal;
$brand-warning: $orange;
$brand-danger:  $red;
$brand-inverse: $gray-dark;

$enable-rounded:  false;
